<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>5.viewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B830A181FA1A71F0038C5ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B830A311FA1A71F0038C5ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B830A3C1FA1A71F0038C5ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
