<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>3ui.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6BFC14291F910FA3005C1032</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BFC14421F910FA3005C1032</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BFC144D1F910FA3005C1032</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
